.nav-link.active {
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.nav-link.active:hover {
  background-color: #FFCC80;
}

.selected-text:after {
  content: "";
  display: block;
  border-bottom: 4px solid #FFCC80;
}

.myNav{
  padding: 20px;
  text-align: center;
  background: #20c320;
  color: white;
  font-size: 20px;
}

.logo{
  margin-left: 10px;
}

.imLog {
  width: 150px;
  transition: transform 0.5s ease;
  transform: scale(1);
}

.imLog:hover {
  transform: scale(1.5);
}

.modal-footer{
  margin: auto;
}

.containerHome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
}

.containerHome > * {
  padding: 20px;
}

.testoHome {
  font-weight: bolder;
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: larger;
}

.carousel {
  height: 400px;
}

.carousel-inner {
  height: 100%;
}

.carousel-item img {
  height: auto;
  width: auto;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.colonna1 {
  grid-column: 1 / 2;
}

.colonna2 {
  grid-column: 2 / 3;
}

footer {
  padding: 63px 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

footer ul li a:hover {
  color: #aaa;
}

footer form {
  margin-top: 20px;
}

@media (max-width: 767px) {
  footer h4 {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.list-unstyled-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px; 
}

.list-unstyled li {
  margin: 10px 0;
}

.titleFooter{
  text-align: center;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.carousel-indicators button {
  border-radius: 0%;
  border: none;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.carousel-indicators button.active {
  background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.form-container {
  background-color: #fff;
  border-radius: 70px;
  padding: 30px;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}
.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #FFCC80;
  color: #212121;
  padding: 50px;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.btn-donate {
  background-color: #212121;
  color: #FFFFFF;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

.btn-donate:hover {
  background-color: #FFCC80;
  color: #212121;
  transition: all 0.3s ease-in-out;
}

#pulsante-scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.jumbotronImg {
  background-image: url("../src/sfondoDon.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.logout-message{
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  color: #212121;
}

.Myitem-dropdown{
  margin: 14px;
}

.dropdown-item{
  cursor: pointer;
}

.cestino:hover,
.cestino:focus,
.cestino:active {
  box-shadow: 0px 0px 10px #007bff;
  transform: translateY(-1px);
}

.input-group-append {
  margin-left: 20px;
}

.custom-select {
  margin-right: 20px;
}

.fa-plus {
  opacity: 0;
  transition: opacity 0.5s, transform 0.8s;
  color : black;
}

.visibile {
  opacity: 1;
}

.traslazione-su {
  transform: translateY(-100%);
}

th {
  background-color: #f0ad4e;
  color: #2b2121;
  border-color: #f0ad4e;
}

td {
  background-color: #5f5d06;
  border-color: #5f5d06;
}

.marginiCarousel3{
  margin-top: 100px;
}

.colorForm{
  background-color: #aaa;
}

.cardFormDonatore{
  width: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-content {
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.5);
}

.loginTitle{
  margin-left: 43%;
}

.containerTable {
  text-align: center;
  padding-bottom: 300.8px;
}

.tableDon {
  margin: auto;
  border-collapse: collapse;
  color: black;
}

.thDon, .tdDon {
  border: 1px solid black;
  padding: 10px;
  word-wrap: break-word;
}

.footerDon{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300.8px;
}